@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800&family=Heebo:wght@300;400;500&family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito+Sans:wght@400;600;700;800&family=Open+Sans:wght@400;700&family=Orelega+One&family=Playfair+Display:wght@400;500&family=Poppins:wght@400;500;600;700;800&family=Prata&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800&family=Heebo:wght@300;400;500&family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito+Sans:wght@400;600;700;800&family=Open+Sans:wght@400;700&family=Orelega+One&family=Playfair+Display:wght@400;500&family=Poppins:wght@400;500;600;700;800&family=Prata&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800&family=Fredoka+One&family=Heebo:wght@300;400;500&family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito+Sans:wght@400;600;700;800&family=Open+Sans:wght@400;700&family=Orelega+One&family=Playfair+Display:wght@400;500&family=Poppins:wght@400;500;600;700;800&family=Prata&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Hind Madurai', sans-serif; */
    /* font-family: 'Fredoka One', cursive; */
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-height: 100vw;
    overflow-x: hidden;
}

:root{
    --hind-language: 'Hind Madurai', sans-serif;
    --fredoka-language: 'Fredoka One', cursive;
}

.container{
    width: 1150px;
    padding: 0 10px;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.header{
    background-color: #f8Edf0;

}

.header__site{
    padding-top: 10px;
}

.nav-item{
    margin-left: 40px;
}

.nav-link{
    font-size: 14px;
    line-height: 16px;
    color: #150101;
    opacity: 0.6;
}

.active-home{
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #D23166;
}

.btn{
    padding: 15px 45px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FAFAFA;
    background-color: #d64374;
    border-radius: 5px;

}

/*          HERO         */

.hero__block{
    display: flex;
}

.hero__description{
    margin-top: 196px;
}

.hero__span{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #0F0101;
    margin-bottom: 6px;
}

.hero__title{
    font-family: var(--fredoka-language);
    font-size: 57.33px;
    line-height: 120.5%;
    color: #0F0101;
    opacity: 0.9;
    letter-spacing: 0.2px;
    width: 680px;
    margin-bottom: 35px;
}

.hero__pink{
    color: #d64374;
}

.text{
    font-family: var(--hind-language);
    font-size: 18px;
    line-height: 27px;
    color: #0f0101;
    opacity: 0.6;
}

.hero-text{
    margin-bottom: 50px;
    width: 523px;
}

.hero__imgbox{
    position: relative;
    width: 700px;
    height: 700px;
}

.hero__img{
    object-fit: contain;
    position: absolute;
    right: -100px;
}


/*  --  partner --   */

.partner{
    padding: 102px 0;
}

.partner__item{
    padding-top: 33px;
    padding-bottom: 27px;
    background: #FFFFFF;
    outline: 1px solid rgba(0, 0, 0, 0.03);
    box-sizing: border-box;
    border-radius: 7px;
    text-align: center;
}

.partner__item:hover{
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
    outline: none;
}

.partner__img{
    margin-bottom: 25px;
}

.partner__title{
    font-family: var(--hind-language);
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 9px;
}

.partner__text{
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    opacity: 0.6;
    width: 198px;
}

/* ----     SUGAR   --- */

.sugar{
    background-color: #F8EDF0;
    padding: 30px 0;
}

.sugar__title{
    font-family: var(--hind-language);
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    color: #150101;
}

.sugar__text{
    margin-bottom: 35px;
    width: 523px;
}

.sugar__img{
    object-fit: contain;
}

/* ---- PRODUCT ---- */

.product{
    padding-top: 137px;
    padding-bottom: 150px;
}

.product__portion{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.product-heading{
    font-family: var(--hind-language);
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    color: #150101;
    margin-bottom: 64px;
}

.product__link{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
}

.product__link--active{
    opacity: 1;
    border-bottom: 3px solid #D64374;
}

.product__item:not(:nth-child(1)):hover .product__link{
    opacity: 1;
    border-bottom: 3px solid #D64374;
}

/*  BROWN-BLOCK   */

.brown__imgbox{
    margin-top: 50px;
}
.brown__desc{
    margin-top: 100px;
}

.brown-box{
    margin-left: 85px;
}

.cayenne-box{
    margin-right: 85px;
}

.title-product{
    font-family: var(--hind-language);
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 11px;
}

.brown__text{
    margin-bottom: 28px;
    width: 454px;
}

.valuta{
    font-family: var(--hind-language);
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 16px;
}

.valuta-span{
    font-family: var(--hind-language);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.7;
}

.cayenne{
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
}

/*      FRIENDS     */

.frends__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 5px;
}

.frends__nation{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    opacity: 0.7;
}

.frends__name{
    margin-bottom: 46px;
}

.frends__text{
    width: 350px;
    margin-bottom: 40px;
}

.frends__miniimg--aktive{
    width: 58px;
    height: 58px;
    border: 2px solid #d64374;
    border-radius: 50%;
}

.frends__imgbox{
    margin-left: 200px;
    padding-top: 100px;
}

.frends__desc{
    padding-top: 100px;
}

.frends__box{
    margin-left: 11px;
}

.frends__arrow-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.frends__arrow-btn:focus{
    outline: none;
}


/* ----- SERVISES ----- */

.servises{
    background-color: #f8edf0;
}

.servises__desc{
    margin-left: 130px;
}

/* .servises__imgbox{
    position: relative;
} */

.servises__img{
    position: relative;
    left: 0;
    top: 70px;
}

.servises__title{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
}

.servises__text{
    width: 607px;
    margin-bottom: 30px;
}

.servises__list{
    margin-bottom: 41px;
}

.servises__item{
    margin-bottom: 21px;
}

.servises__minitext{
    font-size: 22px;
    line-height: 26px;
    color: #000;
    margin-left: 10px;
}


/*    HELP - INPUT     */

.help{
    padding: 190px 0 150px 0;
}

.help__portion{
    transform: translateX(25%);
    
}

.help__title{
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    color: #000;
    width: 522px;
    margin-bottom: 28px;
}

.help__input{
    padding: 29px 450px 29px 30px;
    border: none;
    background-color: #fafafa;
    border-radius: 5px;
}

.help__input:focus{
    outline: 2px solid #d64374;
}

.help__btn{
    padding: 28px 35px 28px 46px;
    background: #D64374;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    position: absolute;
    right: 450px;
    border: none;
    cursor: pointer;
}

.help__form{
    position: relative;
    align-items: center;
    transform: translateX(-5%);
}

/* ---------------FOOTER--------------- */

.footer{
    padding: 70px 0 104px 0;
    background-color: #0a0808;
}

.footer__text{
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #fff;
    opacity: 0.7;
    margin-bottom: 25px;
    width: 207px;
}

.footer__span{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    margin-bottom: 8px;
}

.footer__media-list{
    width: 90px;
}

.footer__listbox{
    margin-top: 100px;
    margin-left: 37px;
}

.listbox__title{
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    margin-bottom: 10px;
}

.listbox__item{
    margin-bottom: 10px;
}
.listbox__link{
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    opacity: 0.7;
}

.footer__list{
    margin-top: 100px;
    margin-left: 132px;
}

.footer__item{
    margin-bottom: 10px;
}

.footer__link{
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    opacity: 0.8;
}

.formbox__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    margin-bottom: 13px;
}

.formbox__input{
    padding: 20px 100px 19px 32px;
    width: 388px;
    opacity: 0.5;
    border: 2px solid #D64374;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
}
.formbox__input:focus{
    outline: none;
}

.formbox__btn{
    padding: 16px 18px;
    background: #D23166;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    border: none;
    position: relative;
    left: -125px;
    cursor: pointer;
}

.formbox__input::placeholder{
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    opacity: 0.6;
    border-radius: 5px;
}

.formbox__form {
    margin-bottom: 15px;
}

.footer__formbox{
    margin-top: 40px;
    transform: translateX(35%);
}
.btn:hover{
    border: 2px solid #d64374;
    color: #d64374;
    background-color: #fff;
    cursor: pointer;

}












































































































































































































































































































